/* 
    Flexbox is one dimensional layout while, the 
    grid is two dimensional layout

    Flexbox is older version of flex(in present). So we will use display :flex;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --primary-color : #0077ff;
    --secondary-color : #39ffb5;
    --width-size : 1200px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    margin: auto;
    font-size: 14px;
    text-align: center; /* This will make every blocks in center */
}
.container{
    max-width: 1200px;
    height: auto;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

li{
    display: inline-block;
}

.icon{
    width:2rem;
    height: auto;
    margin: auto;
    display: inline-grid;
    transition: 0.25s ease;
}
.icon:hover{
    transform: scale(1.4);
}
.grid{
    margin: 0 16px 0 16px;
}

/* Header */
.logo{
    padding-top: 30px;

}

.logo ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;

}

#logo_icon{
    width: 30px;
    margin: auto;
    margin-left: 45px;
    
}
#logo_text{
    color: var(--primary-color);
    font-weight: 300;
    font-size: 24px;
    margin-left: -50px;
}
nav ul{
    padding-top: 22px;
    width: 80%;
    margin: auto;
}
nav ul li{
    padding: 20px;
}
/* Section A */
#section-a{
    display: flex;
    flex-direction: column;

}
#section-a  :nth-child(1){
    order: 1;
}
#section-a :nth-child(2){
    order: 0;
}
.intro{
    text-align: left;
       
}
.intro h1{
    font-weight: 500;
    font-size: 54px;
}
.intro p{
    padding-top: 10px;
    font-weight: 300;
    font-size: 24px;
    width: 80%;
    line-height: 30px;
}
.intro p span{
    color: var(--primary-color);
    font-weight: 400;
}
.intro ul{
    padding-top: 20px;
}
.intro ul li{
    display: block;
    padding: 0;
    padding-bottom: 5px;
    font-weight: 300;
    opacity: 0.97;
    font-size: 22px;
    width: 90%;
}
.avatar{
    padding: 50px;
    max-width: 300px;
    height: auto;
    margin: auto;
    transition: 0.25s ease;

}
.avatar:hover{
    transform: scale(0.8);
}


/* Head and headDiscription */
.head{
    letter-spacing: 5px;
    font-size: 28px;
}
.head span{
    opacity: 0.5;
}
.head-discription{
    padding-top: 10px;
    padding-bottom: 30px;
    opacity: 0.5;
    font-weight: 300;
    font-size: 18px;
}
.head-discription a{
    opacity: 1;
    color: var(--primary-color);
}

/* Section B */
#section-b{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.down-icon{
    width: 20px;
    text-align: center;
    padding-bottom: 60px;
    margin: auto;
}
/*
#section-b h1{
    letter-spacing: 5px;
    font-size: 28px;
}
#section-b h1 span{
    opacity: 0.5;
}
#section-b h3{
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.5;
    font-weight: 300;
    font-size: 18px;
}
*/
#section-b ul{
    margin: auto;
    margin-right: -20px;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;

}
#section-b ul li{
    /* Here grid will use better than flexbox */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-bottom: 30px;
}
.skills{
    text-align: right;
    float: right;
    padding: 0;
    padding-right: 40px;
}

.skills-per h4{
    opacity: 0.5;
    font-weight: 300;
    float: left;
}
.myProgress{
    display: none;
}
.myBar{
    display: none;
}
/* Section C */
#section-c{
    display: flex;
    flex-direction: column;
    padding-top: 180px;
}
#section-c ul li{
    padding: 10px;
}
.cards{
    padding-top: 30px;
}
.card a img{
    transition: transform 0.25s ease;
}
.card a img:hover{
    transform: scale(1.03); /* This is make smooth scaling with centered */
}
#more{
    padding-top: 20px;
}
#more ul{
    display: flex;
    flex-direction: row-reverse;
}
#more ul :nth-child(1){
    order: 1;
}
#more ul :nth-child(2){
    order:0;
}
#more ul li{
    margin: auto;
    margin-right: 0;
    text-align: center;
    padding: 0;
}
#more ul li h1{
    margin-right: -150px;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.6;
    color: var(--primary-color);
}

#more ul li a img{
    width: 50px;
    height: auto;
    margin-right: 10px;
    transition: 0.25s ease;
}
#more ul li a img:hover{
    transform: scale(1.2);
}

/* Section D */
#section-d{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
#section-d ul{
    display: inline-block;
    width: 60%;
    margin: auto;
}
#section-d ul li{
    padding: 10px 10px 15px 10px;
}

#main-footer{
    width: 100%;
    height:40px;
    padding: 0;
    padding-top: 30px;
    margin: auto;
}
#main-footer p{
    background-color: var(--primary-color);
    padding: 20px;
    color: #ffffff;
    font-weight:300;
}
/* Screen size max 500px and below */


/* Scree sizes 500px and up */
@media(min-width: 510px){
    body{
        background-image:url("assests/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        margin: auto;
        max-width: 90%;
        padding-top: 20px;
    }
    #showcase{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    #showcase .logo{
        position: relative;
        left: -45px;
        width:300px;
        margin: auto;
        padding: 0;
        margin-left: 0px;
    }
    #showcase .logo a ul{
        padding:0;
        float: left;
    }
    #showcase .logo a ul li{
        margin: auto;
        padding: 0;

    }
    #logo_icon img{
        padding: 0;
    }
    #showcase nav{
        padding: 0;
        text-align: center;

    }
    #showcase nav ul{
        margin: auto;
    }
    #showcase nav ul li{
        text-align: center;
        margin: auto;
        justify-content: center;
        padding-top: 0;
    }
    /* section-a */
    #section-a {
        padding-top: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
    #section-a  :nth-child(1){
        order: 0;
    }
    #section-a :nth-child(2){
        order: 1;
    }
    .avatar{
        position: relative;
        left: 10%;
        top: -80px;
    }
    .head{
        font-size: 34px;
    }
    .head-discription{
        font-size: 18px;
    }
    /* section-b */
    #section-b{
        padding-top: 250px;
    }
    #section-b ul{
        margin: auto;
    }
    #section-b ul li{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .myProgress{
        display: initial;
        margin-left: -80px;
        width: 200%;
        height: 15px;
        background-color: var(--secondary-color)
    }
    .myBar{
        display: inherit;

        height: 15px;
        background-color: #696969;    
    }
    .first{
        width: 20%;
    }
    .second{
        width: 30%;
    }
    .third{
        width: 60%;
    }
    .fourth{
        width: 35%;
    }
    .fifth{
        width: 55%;
    }
    /* section-c */
    #section-c .cards ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #more{
        width: 300px;
        margin: auto;
        position: relative;
        left: 150px;
    }
}

@media(min-width: 1024px){
    .container{
        max-width: 1200px;
    }
}